name: Check Commits
on: pull_request

jobs:
  commit:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: number-of-commits
        run: echo "NUM_COMMITS=$((${{ github.event.pull_request.commits }}-1))" >> "${GITHUB_ENV}"
      - uses: aljoshare/commala-action@v0.8.0
        with:
          number-of-commits: ${{ env.NUM_COMMITS }}
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          check_name: 'Commala Report'
          report_paths: 'commala-junit.xml'
          comment: true
          detailed_summary: true
          include_passed: true
      - name: Archive commala logs
        uses: actions/upload-artifact@v7
        with:
          name: dist-without-markdown
          path: |
            commala.log