name: post-release

on:
  push:
    tags:
      - runo-*.*.*

permissions:
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v4.3.0
      - env:
          REF_NAME: ${{ github.ref_name }}
        run: |
          helm package runo --version ${REF_NAME/runo-v/}
          helm push runo-${REF_NAME/runo-v/}.tgz oci://ghcr.io/aljoshare/runo-helm-chart